<div fxLayout="row" style="background-color:cornflowerblue;">
  <div fxFlex>
    <mat-card>
      <mat-card-content>
        <div fxFlex="10">
          <img
          width="75" height="40"
          alt="Angular Logo"
          src="https://www.topgear.com/sites/default/files/news-listicle/image/2017/08/p90076741_highres_bmw-328-hommage-05-2.jpg?w=848&h=477"
          />
        </div>
        <div fxFlex style="text-align: center;font-size: large;">
          <span>Welcome To PhotoEngine</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
